/*********************************
*
* beautifulhomesinbend.github.io
*
*********************************/

p {
	margin-bottom: 1px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

#top-nav-id {
	box-shadow: 0px -10px 10px 10px ##a5a5a5;
	background-color: #0F0F0F;
	z-index: 10001;
}

.navbar-brand {
	font-size: 120%;
	margin-bottom: 20px;
	color: #a5a5a5;
}

.navbar-right:last-of-type {
	padding-right: 20px;
}

.main {
	max-width: 1080px;
	margin-top: 25px;
}

#sparks-lake, #mirror-pond, #mt-bachelor {
	min-height: 400px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 10px 10px 5px #808080;
	text-shadow: black 0.3em 0.3em 0.3em;
	overflow: auto;
	word-wrap: break-word;
	color: #fff;
}

#sparks-lake h1, #sparks-lake p, #mirror-pond h1, #mirror-pond p, #mt-bachelor h1, #mt-bachelor p {
	bottom: 0;
	position: absolute;
	font-size: 1.5em;
	padding-left: 10px;
}

#sparks-lake {
	background-image: url('img/sparks-lake.jpg');
}

#mirror-pond {
	background-image: url('img/Mirror_Pond_from_The_Emblem_Club.jpg');
}

#mt-bachelor {
	background-image: url('img/Mt._Bachelor_from_Tumalo_Mtn.jpg');
}

.slick-dots li button::before {
	font-size: 40px;
	bottom: 40px;
	color: #000;
}

.lead {
	margin-bottom: 50px;
}

.explanatory-text {
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -30px;
}

.well {
	border-radius: 0;
}

.media-text {
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-top: 10px;
}

#contact-info {
	margin-top: 35px;
}

.button-holder {
	text-align: center;
	padding-top: 20px;
}

.button-holder button {
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
}

.testimonials {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.testimony {
	font-style: italic;
}

.foot-section {
	background: #0f0f0f;
}

.foot-name {
	font-size: 160%;
	color: white;
	padding: 20px;
}

.foot-titles {
	color: #a5a5a5;
}

.glyph-holder {
	padding: 20px;
}

ul.footer-links {
	list-style-type: none;
}

@media screen and (min-width: 795px) {

	#sparks-lake h1, #sparks-lake p, #mirror-pond h1, #mirror-pond p, #mt-bachelor h1, #mt-bachelor p {
		bottom: 0;
		position: absolute;
		font-size: 2.2em;
	    padding-top: 50px;
	    margin-top: -50px;
	}

	.media-text {
		padding-top: 30px;
	}

	.button-holder button {
		margin-top: 15px;
	}
}
