/******************************
*
* Patti Geraghty
* 
* ColdWell Banker Real Estate
*
* Bend, OR, USA
* 
******************************/

p {
	margin-bottom: 1px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

#top-nav-id {
    box-shadow: 0px -10px 10px 10px #808080;
    position: relative;
}


.below-nav {
	margin-bottom: 20px;
}

.navbar-brand {
	font-size: 120%;
	margin-bottom: 14px;
}

.navbar-right:last-of-type {
	padding-right: 15px;
}

.jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    margin-bottom: 0px;
}

.jumbotron .container {
	min-height: 450px;
    max-width: 1080px;
    margin-bottom: 40px;
}

.sparks {
	background-image: url('img/sparks-lake.jpg');
	background-position: center center;
    box-shadow: 0px 10px 10px 5px #808080;
}

.mirror {
	background-image: url('img/Mirror_Pond_from_The_Emblem_Club.jpg');	
	background-position: center center;
    box-shadow: 0px 10px 10px 5px #808080;
}

.bachelor {
	background-image: url('img/Mt._Bachelor_from_Tumalo_Mtn.jpg');	
	background-position: center center;
    box-shadow: 0px 10px 10px 5px #808080;
}

.explanatory-text {
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -30px;
}

.well {
	border-radius: 0;
}

.media-text {
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-top: 10px;
}

.button-holder {
	text-align: center;
	padding-top: 20px;
}

.button-holder button {
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
}

.testimonials {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.testimony {
	font-style: italic;
}

.foot-section {
	background: #0f0f0f;
}

.foot-name {
	font-size: 160%;
	color: white;
	padding: 20px;
}

.glyph-holder {
	padding: 20px;
}

ul.footer-links {
	list-style-type: none;
}

@media screen and (min-width: 795px) {

	.sparks {
	    padding-top: 50px;
	    margin-top: -50px;
	}

	.mirror {
	    padding-top: 50px;
	    margin-top: -50px;
	}

	.bachelor {
	    padding-top: 50px;
	    margin-top: -50px;
	}

	.media-text {
		padding-top: 30px;
	}

	.button-holder button {
		margin-top: 15px;
	}
}